:root {
    font-family: 'Roboto', sans-serif;
    --buttonColor: #7623ad;
    --lightText: white;
    --buttonBorder: #8ccbe6;
    --highscoreStriping: #f3deff;
    --rightOrWrongText: lightgrey;
}

#highscoresButton {
    float: left;
    color: var(--buttonColor);
}

#timerLabel {
    float: right;
}

#quizHeader {
    clear: both;
    padding-top: 150px;
    text-align: center;
}

#instructions {
    text-align: center;
    margin-bottom: 15px;
}

#startButton {
    margin: auto;
}

.buttonApp {
    background: var(--buttonColor);
    width: fit-content;
    padding: 3px;
    border-radius: 5px;
    border-style: none;
    color: var(--lightText);
    cursor: pointer;
}

.buttonApp:hover {
    opacity: 0.75;
}

.buttonApp:active {
    border-style: solid;
    border-color: var(--buttonBorder);
}

#question {
    display: none; /* Initially hidden */
    clear: both;
    padding-top: 150px;
    margin: 0% 25% 15px;
}

.answer {
    display: none; /* Initially hidden */
    margin: 0% 25% 5px;
}

#highscoresHeader {
    display: none; /* Initially hidden */
    clear: both;
    padding-top: 150px;
    margin: 0% 25% 15px;
}

#highscoreList {
    display: none; /* Initially hidden */
    margin: 0% 25% 5px;
    padding: 0;
    list-style-type: none;
}

/* Colors every other highscore for increased visibility */
#highscoreList :nth-child(odd) {
    background: var(--highscoreStriping);
}

/* Adds pointer symbol before highscores */
#highscoreList li:before {
    content: "\00a0\25BA\2002";
    font-size: 5px;
    position: relative;
    bottom: 5px;
}

#initialsForm {
    display: none; /* Initially hidden */
    margin: 0% 25% 5px;
}

#scoreDisplay {
    margin-bottom: 15px;
}

/* Input doesn't inherit font from body */
input {
    font-family: 'Roboto', sans-serif;
}

/* Not currently working; need to research this more */
input:active {
    border-style: solid;
    border-color: var(--buttonBorder);
}

#backButton {
    display: none; /* Initially hidden */
    margin: 5px 2.5px 5px 25%;
}

#clearButton {
    display: none; /* Initially hidden */
    margin: 5px 2.5px;
}

#rightOrWrong {
    display: none; /* Initially hidden */
    margin: 0% 25%;
    color: var(--rightOrWrongText);
    font-style: italic;
}